<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Snow Login form Responsive Widget Template : W3Layouts</title>

	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Style -->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
</head>

<body>
	<!-- login form -->
	<section class="w3l-login">
		<div class="overlay">
			<div class="wrapper">
				<div class="logo">
					<a class="brand-logo" href="index.html">老八游乐场</a>
				</div>
				<div class="form-section">
					<h3>找回密码</h3>
					<h6>请正确的填写您的信息</h6>
					<form action="#" method="post" class="signin-form">
						身份证号：
						<div class="form-input">
							<input type="text" name="idCard" placeholder="身份证号" required="" autofocus>
						</div>
						手机号：
						<div class="form-input">
							<input type="text" name="phone" placeholder="手机号" required="" >
						</div>
						新密码：
						<div class="form-input">
							<input type="text" name="newPwd" placeholder="新密码" required="">
						</div>
						确认密码：
						<div class="form-input">
							<input type="text" name="password" placeholder="确认密码" required="">
						</div>
						<button type="submit" class="btn btn-primary theme-button mt-4">确认修改</button>
					</form>
					<p class="signup"><a href="index.html" class="signuplink">去登陆</a></p>
				</div>
			</div>
		</div>
		<div id='stars'></div>
		<div id='stars2'></div>
		<div id='stars3'></div>

		<!-- copyright -->
		<div class="copy-right">
			<p>&copy; 2020 Snow Login Form. All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3Layouts</a></p>
		</div>
		<!-- //copyright -->
	</section>

	<!-- /login form -->
</body>

</html>