<!doctype html>
<html lang="en">

<head>
	<title>Tables</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top" id="nav" th:replace="index::#nav">
			<div class="brand">
				<a href="index.html"><img src="assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<div class="text-center">
					<br>
					<span style="font-size: 24px">老八游乐场</span>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar" th:replace="index::#sidebar-nav">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="index.html" class=""><i class="lnr lnr-home"></i> <span>推荐</span></a></li>
						<li><a href="elements.html" class=""><i class="lnr lnr-code"></i> <span>当前排队</span></a></li>
						<li><a href="charts.html" class=""><i class="lnr lnr-chart-bars"></i> <span>全部游乐项目</span></a></li>
						<li><a href="panels.html" class=""><i class="lnr lnr-cog"></i> <span>游乐场地址</span></a></li>
						<li><a href="tables.html" class=""><i class="lnr lnr-dice"></i> <span>个人主页</span></a></li>
						<li><a href="tables.html" class="active"><i class="lnr lnr-dice"></i> <span>退出登录</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main" style="padding-top: 90px">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title text-center">推荐</h3>
					<div class="row">
						<!--/*@thymesVar id="park" type="com.panglin.pojo.ParkTable"*/-->
						<div class="col-md-4" th:each="park:${parkList}">
							<!-- BASIC TABLE -->
							<div class="panel" style="box-shadow: 2px 20px  20px grey;border-radius: 30px;padding-top:22px;background:rgb(242,234,218); font-weight: bold;">
								<div class="panel-body">
									<div class="row">
									  <div class="col-xs-3">
										  <img  th:src="'/'+${park.parkFile}" style="border-radius: 50px;" width="100px" height="100px" />
									  </div>
									  <div class="row col-xs-9">
										  <div class="col-xs-12 text-center">
										  	<!--/*@thymesVar id="user" type="com.panglin.pojo.PlayUser"*/-->
										  	<a th:href="'/details?pid='+${park.id}+'&uid='+${session.user.id}" style="color: green;">
										  	<span th:text="${park.parkName}"></span></a>
										  </div>
										  <div class="col-xs-12 text-center" >
										  	热度：<span class="col-xs-offset-1 text-danger" th:text="${park.parkHot}"></span>
										  </div>
										  <div class="col-xs-12 text-center" >
										  	排队人数：<span class="col-xs-offset-1 text-info" th:text="${parkLineMap.get(park.id)}" th:if="${parkLineMap.get(park.id)} ne 0"></span>
											  <span class="col-xs-offset-1 text-info" th:if="${parkLineMap.get(park.id)} eq 0">0</span>人
										  </div>
										  <div class="col-xs-12 text-center" >
										  	预计排队时间：<span class="col-xs-offset-1 text-info" th:text="${lineUpTime.get(park.id)}" th:if="${parkLineMap.get(park.id)} ne 0"></span>
											  <span class="col-xs-offset-1 text-info" th:if="${parkLineMap.get(park.id)} eq 0">0</span>分钟
										  </div>
									  </div>
									  <div class="col-xs-12 text-center" style="padding-bottom: 10px;">
										  <button type="button" class="btn btn-success" onclick="lineUp(this)" id="lineUp" th:attr="userId=${session.user.id},parkId=${park.id}" style="border-radius: 5px;">开始排队</button>
									  </div>
									</div>
								</div>
							</div>
							<!-- END BASIC TABLE -->
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">Copyright &copy; 2017.Company name All rights reserved.</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/scripts/klorofil-common.js"></script>
</body>
<script type="text/javascript">
	function lineUp(result){
		location.href="/selectUserByInId?uid="+$(result).attr("userId")+"&pid="+$(result).attr("parkId");
	}
</script>
</html>
