<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Snow Login form Responsive Widget Template : W3Layouts</title>

	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Style -->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
</head>

<body>
	<!-- login form -->
	<section class="w3l-login">
		<div class="overlay">
			<div class="wrapper">
				<div class="logo">
					<a class="brand-logo" href="#">老八游乐场</a>
				</div>
				<div class="form-section">
					<h3>登录</h3>
					<h6>祝您玩的开心，生活愉快！</h6>
					<form action="/login.action" method="post" class="signin-form">
						<div class="form-input">
							<input type="text" name="userPhone" placeholder="手机号" required="" autofocus>
						</div>
						<div class="form-input">
							<input type="password" name="userPwd" placeholder="密码" required="">
						</div>
						<label class="check-remaind">
							<input type="checkbox">
							<span class="checkmark"></span>
							<p class="remember">记住密码</p>
						</label>
						<button type="submit" class="btn btn-primary theme-button mt-4">登入</button>
						<div class="new-signup">
							<a href="/changePwd" class="signuplink">忘记密码?</a>
						</div>
					</form>
					<p class="signup">还没有账号? <a href="/register" class="signuplink">立即注册</a></p>
				</div>
			</div>
		</div>
		<div id='stars'></div>
		<div id='stars2'></div>
		<div id='stars3'></div>
		<!-- copyright -->
		<div class="copy-right">
			<p>&copy; 2020 Snow Login Form. All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3Layouts</a></p>
		</div>
		<!-- //copyright -->
	</section>

	<!-- /login form -->
</body>

</html>